<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MEGAZONE</title>
    <link rel="stylesheet" th:href="@{/css/question.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="view">
    <div class="check"><h3>함께 > 질문답변</h3></div>
    <div class="enter">
        <div class="search">
            <input class="size" name="nameKeyword" id="keyword" type="text">
            <button class="search-btn">검색</button>
        </div>
        <div class="bar">
            <select id="sort" name="sort" class="sort" onchange="ChangeSelect()">
                <option name="9nationKeyword" id="9nationKeyword" value="9nationKeyword">9급 국가직</option>
                <option name="9areaKeyword" id="9areaKeyword" value="9areaKeyword">9급 지방직</option>
                <option name="7nationKeyword" id="7nationKeyword" value="7nationKeyword">7급 국가직</option>
                <option name="7areaKeyword" id="7areaKeyword" value="7areaKeyword">7급 지방직</option>
                <option name="fireKeyword" id="fireKeyword" value="fireKeyword">소방</option>
                <option name="policeKeyword" id="policeKeyword" value="policeKeyword">경찰</option>
            </select>
            <div class="btn">
                <button class="write-btn">글쓰기</button>
            </div>
        </div>
        <div class="write">
            <div class="write-title">
                제목입니다.
            </div>
            <div class="write-content">
                학습하는 분들께 도움이 되고, 더 좋은 답변을 드릴 수 있도록 질문전에 다음을 꼭 확인해주세요.
            </div>
            <div class="write-bottom">
                <div class="write-left">
                    <div class="user-name">
                        코딩앱등이
                    </div>
                    ㆍ
                    <div class="write-time">
                        29분 전
                    </div>

                </div>
                <div class="write-right">
                    <div class="right-box">
                        <div class="best">
                            추천 : 0
                        </div>
                        ㆍ
                        <div class="inquiry">
                            조회 : 2
                        </div>
                        ㆍ
                        <div class="comment">
                            댓글 : 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ChangeSelect() {

        let langSelect = document.getElementById("sort");

        // select element에서 선택된 option의 value가 저장된다.
        let selectValue = langSelect.options[langSelect.selectedIndex].value;

        document.getElementById("keyword").setAttribute("name", selectValue);
        document.getElementById("frm").setAttribute("action", "/admin/userList/" + selectValue);

    }
</script>
</body>
</html>