<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
</head>
<body>
<div>
    <!-- 글 작성 버튼 -->
    <a th:href="@{/save}">글 작성</a>

    <!-- 게시물 목록 -->
    <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td><a th:href="@{'/board/' + ${board.id}}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${board.boardHits}"></td>
    </tr>

    <!-- 페이지네이션 링크 -->
    <div>
        <a th:href="@{/board/paging(page=1)}">First</a>
        <a th:href="@{/board/paging(page=${boardList.number})}" th:if="${boardList.hasPrevious}">Prev</a>
        <span th:each="page: ${#numbers.sequence(1, boardList.totalPages)}">
        <a th:href="@{/board/paging(page=${page})}" th:text="${page}"></a>
    </span>
        <a th:href="@{/board/paging(page=${boardList.number + 1})}" th:if="${boardList.hasNext}">Next</a>
        <a th:href="@{/board/paging(page=${boardList.totalPages})}">Last</a>
    </div>

</body>
<script>
    // 페이지 이동 함수
    function navigateTo(path) {
        location.href = path;
    }
</script>
</html>
tml>