<!-- TestResult.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결과</title>
</head>
<body>
<h1>시험 문제 목록</h1>
<table>
    <thead>
    <tr>
        <th>번호</th>
        <th>시험명</th>
        <th>출시년도</th>
        <th>과목</th>
        <th>문제</th>
        <th>보기1</th>
        <th>보기2</th>
        <th>보기3</th>
        <th>보기4</th>
        <th>보기5</th>

    </tr>
    </thead>
    <tbody>
    <!-- 결과 데이터 반복 출력 -->
    <tr th:each="test : ${tests}">
        <td th:text="${test.num}">번호</td>
        <td th:text="${test.name}">시험명</td>
        <td th:text="${test.year}">출시년도</td>
        <td th:text="${test.type}">과목</td>
        <td th:text="${test.title}">문제</td>
        <td th:text="${test.view1}">보기1</td>
        <td th:text="${test.view2}">보기2</td>
        <td th:text="${test.view3}">보기3</td>
        <td th:text="${test.view4}">보기4</td>
        <td th:text="${test.view5}">보기5</td>
    </tr>

    </tbody>
</table>
</body>
</html>
