<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>MEGAZONE</title>
    <link rel="stylesheet" th:href="@{/css/wrong.css}">
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" class="header"></div>

<div class="view">
    <div class="check"><h3>혼자 > 오답노트</h3></div>

    <div class="box">

        <div class="question">
            <div class="top">
                <h4 class="sentence">문제 내용</h4>
                <h4 class="ca">정답률 : 80%</h4>
                <!--                <h4 class="sentence"><span th:text="${userDto.text}"></span></h4>-->
                <!--                <h4 class="ca">정답률 : <span th:text="${userDto.avg}"></span></h4>-->
            </div>
            <div class="bottom">
                <!--                <div th:each="answerList : ${answerList}">-->
                <!--                    <div class="q"><a href="#">1.<span th:attr="data-answer=${answerList}"></span></a></div>-->
            </div>
            <div class="q"><a href="#">1.<span>보기1</span></a></div>
            <div class="q"><a href="#">2.<span>보기2</span></a></div>
            <div class="q"><a href="#">3.<span>보기3</span></a></div>
            <div class="q"><a href="#">4.<span>보기4</span></a></div>
            <!--                <div class="q"><a href="#">1.<span th:text="${userDto.answer_1w}"></span></a></div>-->
            <!--                <div class="q"><a href="#">2.<span th:text="${userDto.answer_2w}"></span></a></div>-->
            <!--                <div class="q"><a href="#">3.<span th:text="${userDto.answer_3w}"></span></a></div>-->
            <!--                <div class="q"><a href="#">4.<span th:text="${userDto.answer_4w}"></span></a></div>-->
        </div>
    </div>

    <div>
        <button class="idk">잘 모르겠어요.</button>
    </div>
</div>
</body>
</html>