<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>UNPLUGGED</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <script src="/js/signup.js"></script>
</head>
<body>

<div class="header">
    <div class="title">
        <a th:href="@{/}" id="title">MEGAZONE</a>
    </div>
</div>

<script>

    document.getElementById("title").innerText = "MEGAZONE";

</script>
<form id="form" th:action="@{/signup}" method="post" modelAttribute="userDto">
    <div class="body">
        <div class="areabox">
            <div class="name">
                <d>이름</d>
                <s>*</s>
                <input class="textarea" id="name" name="name" type="text" placeholder="이름 입력">
            </div>
            <div id="nameError" class="error"></div>

            <div class="id">
                <d>아이디</d>
                <s>*</s>
                <input class="textarea" id="id" name="id" type="text" placeholder="아이디 입력">
            </div>
            <div id="idError" class="error"></div>

            <div class="pw">
                <d>비밀번호</d>
                <s>*</s>
                <input class="textarea" id="pw" name="pw" type="password" placeholder="비밀번호 입력">
            </div>
            <div id="pwError" class="pwerror"></div>

            <div class="checkpw">
                <d>재확인</d>
                <s>*</s>
                <input class="textarea" id="checkpw" name="checkpw" type="password" placeholder="비밀번호 재입력">
            </div>
            <div id="checkpwError" class="pwerror"></div>

            <div class="birthday">
                <d>생년월일</d>
                <s>*</s>
                <input class="textarea" id="birthday" name="birthday" type="date">
            </div>
            <div id="birthdayError" class="error"></div>

            <div class="phone">
                <d>연락처</d>
                <s>*</s>
                <input class="textarea" id="phone" name="phone" type="text" maxlength="11" oninput="changePhone()"
                       placeholder="-제외하고 입력">
            </div>
            <div id="phoneError" class="error"></div>

            <div class="gender">
                <d>성별</d>
                <s>*</s>
                <label class="rdobtn"><input id="gender_man" type="radio" name="gender"
                                             value="남"><span>남자</span></label>
                <label class="rdobtn"><input id="gender_woman" type="radio" name="gender"
                                             value="여"><span>여자</span></label>
            </div>
            <div id="genderError" class="error"></div>

            <div class="agree">
            </div>
        </div>

        <div class="signup">
            <a class="btn" id="signup_submit" onclick="javascript:signUpCheck()"><label
                    class="check-btn">가입하기</label></a>
        </div>
    </div>
</form>
<script>

    //비밀번호 실시간 확인
    $(function () {
        $('#pw').keyup(function () {
            $('#checkpwError').html('');

            if ($('#pw').val() !== $('#checkpw').val()) {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호가 동일하지 않습니다.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === $('#checkpw').val() && $('#pw').val() !== "" && $('#checkpw').val() !== "") {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호 일치함');
                document.getElementById("checkpwError").style.color = "rgba(16,201,197,0.7)";
            }
        });


        $('#checkpw').keyup(function () {

            if ($('#pw').val() !== $('#checkpw').val()) {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호가 동일하지 않습니다.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === "" && $('#checkpw').val() === "") {
                $('#pwError').html('');
                $('#checkpwError').html('비밀번호를 입력하세요.');
                document.getElementById("checkpwError").style.color = "rgba(248,42,42,0.7)";
            } else if ($('#pw').val() === $('#checkpw').val() && $('#pw').val() !== "" && $('#checkpw').val() !== "") {
                $('#checkpwError').html('비밀번호 일치함');
                document.getElementById("checkpwError").style.color = "rgba(16,201,197,0.7)";
            }

        });

        $('#name').keyup(function () {
            $('#nameError').html('');
        });

        $('#id').keyup(function () {
            $('#idError').html('');
        });
        $('#phone').keyup(function () {
            $('#phoneError').html('');
        });

    });

</script>
</body>
</html>